#profile {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: 0 auto 50px auto;
}

#profile td, #profile th {
    border: 1px solid #ddd;
    padding: 8px;
}

#profile tr:nth-child(even){background-color: #f2f2f2;}

#profile tr:hover {background-color: #ddd;}

#profile th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(109, 109, 109);
    color: white;
}
input {
    transition: 0.2s;
}
input.valid {
    border-color: rgb(8, 196, 55);
}
input.invalid {
    border-color: rgba(196, 9, 9, 0.952);
}
input + p {
    opacity: 0;
    height: 0;
}
input.invalid + p {
    opacity: 1;
    height: auto;
    margin-bottom: 20px;
}